!!!! 5
%html
	%head
		%link{:rel => "stylesheet", :href => "/assets/css/screen.css"} 
	%body
		%div.site-layout
			%header.site-header{:role => "banner"}
				%div.wrapper
					%h1 Bedrock
			%section.site-content{:role => "main"}
				%div.row
					.wrapper
						%h2 Demo Sites
						%ul
							%li
								%a{:href => "/example"} Example Site
							%li
								%a{:href => "/example/app_exemple.html"} App Example
							%li
								%a{:href => "/benoitdeziel.com"} Benoit Deziel.com
							%li
								%a{:href => "/example/sensation"} Sensation
			%footer.site-footer
				.wrapper
					%p Hello Footer