!!! 5
%html
	%head
		%link{:href => "http://fonts.googleapis.com/css?family=Open Sans&subset=latin", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "../../assets/css/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
	%body
		%header.grid-12
			%div.wrapper
				%hgroup.col-8.first
					%h1 Welcome to Bedrock
					%h2 This is the style example
				%div.col-4.last
					%form.form-search
						%input.search-query{:type => "text", :placeholder => "Search the site"}
						%button.btn{:type => "submit"} Search
		%nav
			%div.wrapper
				%ul.primary-nav.nav-horizontal
					%li 
						%a{:href => "#"} List Item
					%li.active 
						%a{:href => "#"} List Item
					%li
						%a{:href => "#"} List Item
		%nav.breadcrumbs
			%div.wrapper
				%ul.breadcrumbs
					%li
						%a{:href => "#"} Home
						%span.divider /
					%li.active
						%a{:href => "#"} This page
		%section.main-content
			%div.wrapper
				%h1 Heading 1
				%h2 Heading 2
				%p
					Energy smells ever compare awesome lather thought chunky fights whenever permanent secret settle. Relaxing formula offer pleasing included golden aroma really to much settle parents. Spacious while can't blast shopping powerful much soothing purchase powerful velvety monster by. More listen, juicy locked-in families brings well crunchy juicy outlasts comes hot, deeply. Accomodations, exclusive, like quite waxy win warm, easily tropical, accomodations keeps youthful. Comfort than whenever, burst takes worthwhile genuine. Quite all proven sweet duty all. Revolutionary delicious settle be most dual outside delivers, advertising much money never double drink.
			
			%div.grid-12
				%div.wrapper
					%div.col-4.first
						%h3 Column 1
						%p
							Distinct our tough mega tropical smile going full-bodied. Picky bigger inside confident senses unlimited valuable, limited more takes cholesterol. Golden, confident zesty yourself humongous be tasting. Like go locked-in peppy spacious sparkling that pennies golden monster, go brings limited. Great dry included by talking market. 
					%div.col-4
						%h3 Column 2
						%p
							Announcing touch, thirsty sure aromatic deluxe warranty perfect. Longer tasty will our, peppy, delicious flexible announcing and far classic. Power ocean brings $19.95 secure, brighter removable. Finest just keeps postage smile product newer secret pleasure sweet families. 
					%div.col-4.last
						%h3 Column 3
						%p
							Luxury super ever, disposable that way sale escape take aroma lost. Free delicious clean fresh far, appreciate. Crunchy, all, senses, only thought reputation leading permanent, polished choosy spring bigger, huggable convenient. Introducing offer, by chance effective money-back polished care settle tempt.

					%div.col-3.first.box
						%header
							%h1 Single heading
						%div.box-container
							%p 
								I'm a single div container. Quickly wave, dual brighter wealth yet. Simply, picky boast, save splash ocean trust sensible, aromatic find our will improved valuable chocolatey. Superior bold as guaranteed pure, works improved.
					%div.col-3.box
						%header
							%h1 Primary Heading
							%h2 Subheading
						%ul.box-container
							%li I'm a unordered list
							%li acting as the container
							%li Pulse generator led backbone element proxy
							%li Controller patch processor 
							%li Floating-point broadband
					%div.col-3.box
						%header
							%h1 Single heading
							%p With a description, tropical healthy handling appreciate credit-card.
						%div.box-container
							%p I'm a single div container. Disk internet analog, harmonic boolean anomoly. Silicon normalizing recursive pc dithering patch reflective.
					%div.col-3.last.box
						%dl.box-container
							%dt I'm a definition list
							%dd acting as the container
						%div.box-container	
							%a.btn.btn-primary{:href => "#"} Action
							%a.btn{:href => "#"} Action
					%div.col-8.first
						%article
							%figure
								%img{:src => "http://placehold.it/200x200"}
								%figcaption
									%p Hello caption
							%p 
								Power artificial jumbo, drink millions are, sure, disposable challenge. Wave delivers grand know recommended rare awesome ever, care polished newer. Industry smart secure effervescent fat-free settle, lifetime made fat-free, chance, brighter light extra bold. Yourself burst to deeply remarkable kids unlimited jiffy sharpest anything flexible bold.
								%p
									Monster what easy, classic anti lather. Effective brighter outstanding, excellent fun sold advantage, tired, premium style drink sold a. High-tech talking picky credit-card world's fat-free, smells have lifetime crispy can't.
						%div.pagination
							%ul
								%li
									%a{:href => "#"} &laquo;
								%li
									%a.active{:href => "#"} 1
								%li
									%a{:href => "#"} 2
								%li
									%a{:href => "#"} 3
								%li
									%a{:href => "#"} 4
								%li
									%a{:href => "#"} &raquo;
					%aside.col-4.last
						%nav
							%ul.secondary-nav.nav-vertical
								%li
									%a{:href => "#"} Secondary page
								%li
									%a{:href => "#"} Secondary page
		%footer.grid-12
			%div.wrapper
				%div.col-4.first
					%p Hello footer
				%nav.col-8.last
					%ul.footer-nav.nav-columns
						%li 
							%a{:href => "#"} List Item
						%li.active 
							%a{:href => "#"} List Item
						%li
							%a{:href => "#"} List Item